body > table{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 150px;
    margin-top: 100px;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
    text-align: center !important;
   
}
.answer-align, h1 {
    text-align: center !important;
}

td, th {
    border: 1px solid #dddddd;
    padding: 10px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #bbc4b2;
    
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgb(90, 185, 130);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #c5952f;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 0px;
}

.hide{
    display:none;
}

select {
    width: 40%;
    text-align: center;
    padding: 14px;
   border-color: #ccc;

}